src/.idea/
src/__pycache__/
src/summary_sprites/
src/logs/
src/datasets/
src/results/
**/logs
**/datasets
__pycache__/
nohup.out/

src/images/PNG/IMG-1.png
src/images/PNG/IMG-2.png
src/images/PNG/IMG-3.png
src/images/PNG/IMG-4.png
src/images/PNG/IMG-5.png
src/images/PNG/IMG-6.png
src/images/PNG/IMG-7.png
src/images/PNG/IMG-8.png
src/images/PNG/IMG-9.png
src/images/cat_and_dog.jpg
src/images/chessboard.jpg
src/images/field.png
src/images/glacier.jpg
src/images/harbor.jpg
src/images/lake.png
src/images/living_room.jpg
src/images/misc/row-1-col-1.jpg
src/images/misc/row-1-col-2.jpg
src/images/misc/row-1-col-3.jpg
src/images/misc/row-2-col-1.jpg
src/images/misc/row-2-col-2.jpg
src/images/misc/row-2-col-3.jpg
src/images/misc/row-3-col-1.jpg
src/images/misc/row-3-col-2.jpg
src/images/misc/row-3-col-3.jpg
src/images/resized/1.jpg
src/images/resized/2.jpg
src/images/resized/3.jpg
src/images/slices/15/tile_r1c1_0.png
src/images/slices/15/tile_r1c1_1.png
src/images/slices/15/tile_r1c2_0.png
src/images/slices/15/tile_r1c2_1.png
src/images/slices/15/tile_r1c3_0.png
src/images/slices/15/tile_r1c3_1.png
src/images/slices/15/tile_r2c1_0.png
src/images/slices/15/tile_r2c1_1.png
src/images/slices/15/tile_r2c2_0.png
src/images/slices/15/tile_r2c2_1.png
src/images/slices/15/tile_r2c3_0.png
src/images/slices/15/tile_r2c3_1.png
src/images/slices/15/tile_r3c1_0.png
src/images/slices/15/tile_r3c1_1.png
src/images/slices/15/tile_r3c2_0.png
src/images/slices/15/tile_r3c2_1.png
src/images/slices/15/tile_r3c3_0.png
src/images/slices/15/tile_r3c3_1.png
src/images/slices/tile_r1c1_0.png
src/images/slices/tile_r1c1_1.png
src/images/slices/tile_r1c2_0.png
src/images/slices/tile_r1c2_1.png
src/images/slices/tile_r1c3_0.png
src/images/slices/tile_r1c3_1.png
src/images/slices/tile_r2c1_0.png
src/images/slices/tile_r2c1_1.png
src/images/slices/tile_r2c2_0.png
src/images/slices/tile_r2c2_1.png
src/images/slices/tile_r2c3_0.png
src/images/slices/tile_r2c3_1.png
src/images/slices/tile_r3c1_0.png
src/images/slices/tile_r3c1_1.png
src/images/slices/tile_r3c2_0.png
src/images/slices/tile_r3c2_1.png
src/images/slices/tile_r3c3_0.png
src/images/slices/tile_r3c3_1.png
src/images/tile_of_lake_1.png
src/images/tile_of_lake_2.png
src/images/vineyard.jpg
src/images/vineyard_rs.jpg
src/2017_val.tfrecords
src/2017_val_small.tfrecords
src/orig_model.py
src/playground/2017_val_small.tfrecords
src/data/
src/playground/2017_train_small_anys.tfrecords
src/models/
models/
src/playground/out/
